body {
    background-color: rgb(71, 67, 67);
    color: aliceblue;
}

h1 {
    color: rgb(183, 183, 202);
    text-align: center;
}

p {
    text-align: justify;
    color: aliceblue;
}

button {
    align-items: center;
}

table {
    
}